<div class="leftside-menu">

    <!-- Brand Logo Light -->
    <a href="index.html" class="logo logo-light">
        <h3 class="logo-lg mt-3">Groupe Mandela</h3>
    </a>
    
    

    <!-- Sidebar -left -->
    <div class="h-100" id="leftside-menu-container" data-simplebar>
        <!--- Sidemenu -->
        <ul class="side-nav">

            <li class="side-nav-title">Administration</li>

            <li class="side-nav-item">
                <a href="{{ path('app_admin_accueil_index' )}}" class="side-nav-link">
                    <i class="ri-dashboard-3-line"></i>
                    <span class="badge bg-success float-end"></span>
                    <span> Tableau de bord </span>
                </a>
            </li>
            <li class="side-nav-item">
                <a data-bs-toggle="collapse" href="#sidebarPagesBobine" aria-expanded="false" aria-controls="sidebarPagesBobine" class="side-nav-link">
                    <i class="ri-layout-line"></i>
                    <span>Gestion des bobines</span>
                    <span class="menu-arrow"></span>
                </a>
                <div class="collapse" id="sidebarPagesBobine">
                    <ul class="side-nav-second-level">
                        <li>
                            <a href="{{ path('app_admin_bobine_new') }}">Ajouter une bobine</a>
                        </li>
                        <li>
                            <a href="{{ path('app_admin_bobine_index') }}">Liste des bobines</a>
                        </li>
                    </ul>
                  </div>
            </li>
            <li class="side-nav-item">
                <a data-bs-toggle="collapse" href="#sidebarPagesProduction" aria-expanded="false" aria-controls="sidebarPagesProduction" class="side-nav-link">
                    <i class="ri-briefcase-line"></i>
                    <span>Gestion productions</span>
                    <span class="menu-arrow"></span>
                </a>
                <div class="collapse" id="sidebarPagesProduction">
                    <ul class="side-nav-second-level">
                        <li>
                            <a href="{{ path('app_admin_production_new') }}">Ajouter une production</a>
                        </li>
                        <li>
                            <a href="{{ path('app_admin_production_index') }}">Liste des productions</a>
                        </li>
                        <li>
                            <a href="{{ path('app_admin_production_employe_index') }}">Production des employes</a>
                        </li>
                        <li>
                            <a href="{{ path('app_admin_cadeau_index') }}">Cadeaux des clients</a>
                        </li>
                    </ul>
                </div>
            </li>
            <li class="side-nav-item">
                <a data-bs-toggle="collapse" href="#sidebarPagesClient" aria-expanded="false" aria-controls="sidebarPagesClient" class="side-nav-link">
                    <i class="ri-account-pin-circle-line"></i>
                    <span>Gestion des clients</span>
                    <span class="menu-arrow"></span>
                </a>
                <div class="collapse" id="sidebarPagesClient">
                    <ul class="side-nav-second-level">
                        <li>
                            <a href="{{ path('app_admin_client_new') }}">Ajouter un client</a>
                        </li>
                        <li>
                            <a href="{{ path('app_admin_client_index') }}">Liste des client</a>
                        </li>
                    </ul>
                </div>
            </li>
            <li class="side-nav-item">
                <a data-bs-toggle="collapse" href="#sidebarPagesCommande" aria-expanded="false" aria-controls="sidebarPagesCommande" class="side-nav-link">
                    <i class="ri-shopping-bag-line"></i>
                    <span>Gestion commandes</span>
                    <span class="menu-arrow"></span>
                </a>
                <div class="collapse" id="sidebarPagesCommande">
                    <ul class="side-nav-second-level">
                        <li>
                            <a href="{{ path('app_admin_commande_new') }}">Ajouter une commande</a>
                        </li>
                        <li>
                            <a href="{{ path('app_admin_commande_index') }}">Liste des commandes</a>
                        </li>
                        <li>
                            <a href="{{ path('app_admin_livraison_index') }}">Livraisons des commandes</a>
                        </li>
                    </ul>
                </div>
            </li>
            
            <li class="side-nav-item">
                <a data-bs-toggle="collapse" href="#sidebarPagesFacture" aria-expanded="false" aria-controls="sidebarPagesFacture" class="side-nav-link">
                    <i class="ri-bank-card-line"></i>
                    <span>Gestion des factures</span>
                    <span class="menu-arrow"></span>
                </a>
                <div class="collapse" id="sidebarPagesFacture">
                    <ul class="side-nav-second-level">
                        <li>
                            <a href="{{ path('app_admin_facture_index') }}">Liste des factures</a>
                        </li>
                        <li>
                            <a href="{{ path('app_admin_reglement_facture_index') }}">Liste des reglements</a>
                        </li>
                    </ul>
                </div>
            </li>

            <li class="side-nav-item">
                <a data-bs-toggle="collapse" href="#sidebarPagesDepense" aria-expanded="false" aria-controls="sidebarPagesDepense" class="side-nav-link">
                    <i class="ri-wallet-line"></i>
                    <span>Gestion des depenses</span>
                    <span class="menu-arrow"></span>
                </a>
                <div class="collapse" id="sidebarPagesDepense">
                    <ul class="side-nav-second-level">
                        <li>
                            <a href="{{ path('app_admin_depense_new') }}">Ajouter une depense</a>
                        </li>
                        <li>
                            <a href="{{ path('app_admin_depense_index') }}">Liste des depenses</a>
                        </li>
                    </ul>
                </div>
            </li>

            <li class="side-nav-item">
                <a data-bs-toggle="collapse" href="#sidebarPagesFournisseur" aria-expanded="false" aria-controls="sidebarPagesFournisseur" class="side-nav-link">
                    <i class="ri-group-line"></i>
                    <span>Gestion fournisseurs</span>
                    <span class="menu-arrow"></span>
                </a>
                <div class="collapse" id="sidebarPagesFournisseur">
                    <ul class="side-nav-second-level">
                        <li>
                            <a href="{{ path('app_admin_fournisseur_new') }}">Ajouter un fournisseur</a>
                        </li>
                        <li>
                            <a href="{{ path('app_admin_fournisseur_index') }}">Liste des fournisseurs</a>
                        </li>
                        <li>
                            <a href="{{ path('app_admin_transaction_fournisseur_index') }}">Transaction fournisseurs</a>
                        </li>
                    </ul>
                </div>
            </li>

            <li class="side-nav-item">
                <a data-bs-toggle="collapse" href="#sidebarPagesCaisse" aria-expanded="false" aria-controls="sidebarPagesCaisse" class="side-nav-link">
                    <i class="ri-bank-card-2-line"></i>
                    <span>Gestion de la caisse</span>
                    <span class="menu-arrow"></span>
                </a>
                <div class="collapse" id="sidebarPagesCaisse">
                    <ul class="side-nav-second-level">
                        <li>
                            <a href="{{ path('app_admin_caisse_new') }}">Ajouter une caisse</a>
                        </li>
                        <li>
                            <a href="{{ path('app_admin_caisse_index') }}">Liste des caisses</a>
                        </li>
                        <li>
                        </li>
                    </ul>
                </div>
            </li>
        </ul>
        <!--- End Sidemenu -->

        <div class="clearfix"></div>
    </div>
</div>