{% extends "admin/base.html.twig" %}
{% block title %}
<div class="row">
    <div class="col-12">
        <div class="page-title-box">
            <div class="page-title-right">
                <ol class="breadcrumb m-0">
                    <li class="breadcrumb-item"><a href="javascript: void(0);"><i class="ri-home-4-line me-1"></i>Accueil</a></li>
                    <li class="breadcrumb-item active">Mouvement Stock</li>
                </ol>
            </div>
            <h4 class="page-title">Liste des entrées et sorties du produit</h4>
        </div>
    </div>
</div>
{% endblock title %}
{% block body %}
<div class="row">
    <div class="col-12">
        <div class="card">
            <div class="d-flex justify-content-between mx-3 pt-2 gap-2 align-items-center">
                <div>
                    <form action="{{ path('app_admin_mouvement_produit_search')}}" method="get" class="d-flex justify-content-between gap-1">
                        <input class="form-control" placeholder="Rechercher" name="recherche" value="{{ query ?? '' }}">
                        <button class="btn btn-primary"><span class="bi bi-search"></span></button>
                    </form>
                </div>
                
            </div>
            <div class="card-body table-responsive">
                <table class="table table-bordered table-hover">
                        <thead>
                            <tr>
                                <th>N°</th>
                                <th>Produit</th>
                                <th>Type de mouvement</th>
                                <th>Quantité</th>
                                <th>Date</th>
                            </tr>
                        </thead>
                        <tbody>
                            {% for k, m in mouvementsStock %}
                                <tr>
                                    <td>{{ k+1 }}</td>
                                    <td>{{ m.produit.nom }}</td>
                                    {% if m.typeMouvement == 'sortie' %}
                                    <td class="fw-bold" style="color:red">
                                        {{ m.typeMouvement }}
                                    </td>
                                    {% else %}
                                    <td class="fw-bold" style="color:blue">
                                        {{ m.typeMouvement }}
                                    </td>
                                    {% endif %}

                                    <td>{{ m.quantite }}</td>
                                    <td>{{ m.date|date('Y-m-d H:i:s')}}</td>
                                </tr>
                            {% endfor %}
                        </tbody>
                </table>
                {% if query is defined and query != '' %}
                {{ knp_pagination_render(mouvementsStock) }}
                {% endif %}
            </div>
        </div>
    </div>
</div>
{% endblock body %}
