{% extends "printLayout/base.html.twig" %}
{% block body %}

<div class="container mt-5 border p-4 card">
    <!-- En-tête avec logo -->
    <div class="row text-center align-items-center mb-2">
        <div class="col-3 text-start">
            <img src="{{ asset('admin/images/login.jpg') }}" alt="Logo Ziama" style="width: 100px; height: 100px; object-fit: contain;">
        </div>
        <div class="col-6">
            <h3 class="text-primary fw-bold">LISTE DES CLIENTS</h3>
            <h4 class="fw-bold">ETS. Ziama Les Héritiers</h4>
            <p>Contact : 625556078</p>
        </div>
        <div class="col-3 text-end">
            <img src="{{ asset('admin/images/login.jpg') }}" alt="Logo Ziama" style="width: 100px; height: 100px; object-fit: contain;">
        </div>
    </div>

    <!-- Tableau des produits -->
    <div class="row mt-2">
        <div class="col-12">
            <table class="table table-bordered table-striped">
                <thead>
                    <tr class="bg-primary">
                        <th class="text-bg-info">N°</th>
                        <th class="text-bg-info">Nom complet</th>
                        <th class="text-bg-info">Adresse</th>
                        <th class="text-bg-info">Téléphone</th>
                        <th class="text-bg-info">Email</th>
                        <th class="text-bg-info">Type client</th>
                    </tr>
                </thead>
                <tbody>
                    {% for k, client in clients %}
                    <tr>
                        <td>{{ k+1 }}</td>
                        <td>{{ client.nom }}</td>
                        <td>{{ client.adresse }}</td>
                        <td>{{ client.telephone }}</td>
                        <td>{{ client.email}}</td>
                        <td>{{ client.typeClient }}</td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
</div>

<script>
    window.onload = function() {
        window.print();
    }
</script>
{% endblock body %}
